/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    background-color: #FBFAF0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #444;
    height: 100vh;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    width: 80%;
}

#logo {
    font-size: 1.75rem;
}

/* Index page */

.cta-button { 
    height: 250px;
    position: relative;
    margin-top: 10vh;
  }
  
  .button-center {
    font-size: x-large;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }

  .center-text {
    font-size: x-large;
    text-align: center;
    }

    .card-desc {
      display: block;
      font-size: 1.2rem;
      position: absolute;
      height: 0;
      top: 0;
      opacity: 0;
      padding: 18px 8%;
      background-color: white;
      overflow-y: scroll;
      -webkit-transition: 0.8s ease;
      -o-transition: 0.8s ease;
      transition: 0.8s ease;
    }

    /* Contact page */

    #contact-heading {
        text-align: center;
        padding-bottom: 20px;
    }

    /* Profile page */

    #profile-head {
        text-align: center;
        padding-bottom: 20px;
    }

    .profile-container {
        margin-top: 50px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .profile-card {
        width: 400px;
        background-color: #fff;
        -webkit-box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
                box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
        border-radius: 10px;
        overflow: hidden
    }
    
    .profile-card .info {
        padding: 15px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        border-bottom: 1px solid #e1dede;
        background-color: #e5e5e5
    }


    .profile-card .forms {
        padding: 25px
    }
    
    .profile-card .inputs {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        margin-bottom: 16px
    }
    
    .profile-card .inputs span {
        font-size: 12px
    }
    
    .profile-card .inputs input {
        height: 40px;
        padding: 0px 10px;
        font-size: 17px;
        -webkit-box-shadow: none;
                box-shadow: none;
        outline: none
    }

    .profile-card .inputs input[type="text"][readonly] {
        border: 2px solid rgba(0, 0, 0, 0)
    }

    /* Post Show page */

    #post-heading {
        text-align: center;
        padding-bottom: 20px;
    }

    /* Show Cards page */

    #block-container {
      margin-top: 50px;
    }

    #search {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 60%;
        margin: 0 auto 50px;
    }

    p {
      margin-bottom: 0px;
    }

    * {
        padding: 0;
        margin: 0;
        font-family: 'Poppins', sans-serif
    } 

.show-container {
margin: 26px;
}

#shows-container {
    margin-top: 50px;
  }

.movie {
    max-width: 100%;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-shadow: 0 5px 20px 0px rgba(0, 0, 0, .2);
            box-shadow: 0 5px 20px 0px rgba(0, 0, 0, .2);
   overflow: hidden;
}

.movie-hero {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 45%;
          flex: 0 0 45%;
  margin: 20px;
  margin-right: 0;
}

.movie-img {
    width: 86%;
    display: block;
    border-radius: 3px;
}

.movie-content {
    background-color: #fff;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 35px 30px;
    padding-left: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.movie-price {
    background:-webkit-gradient(linear, left top, left bottom, from(#444), to(#444));
    background:-o-linear-gradient(top, #444 0%, #444 100%);
    background:linear-gradient(to bottom, #444 0%, #444 100%);
    -webkit-box-flex: 0;
        -ms-flex: 0 0 56px;
            flex: 0 0 56px;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 2px;
    color: rgb(230, 230, 0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.movie__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.heading-primary {
    font-size: 32px;
    margin-right: auto;
    color: black;
}

.fa-fire {
    color: salmon;
}

.movie--tag {
    font-size: 11px;
    color: #fff;
    padding: 2px 7px;
    border-radius: 100px;
    margin-right: 8px;
    display: block;
    text-transform: uppercase;

}

.movie-tag-1 {
  background-color:orange;
}

.movie--tag--2 {
    background-color:#FFBBEC;
}

.movie-description {
    text-align: justify;
    height: 200px;
    font-size: 16px;
    overflow: scroll;
}

.movie-details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.movie-detail {
   font-size: 16px;
   margin-right: 20px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
   -webkit-box-align: center;
       -ms-flex-align: center;
           align-items: center;
}

.movie-data {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 10px;
}

.icons i {
    margin-right: 3px;
    font-size: 18px;
}

.icons-red {
    color: salmon;
}

.icons-grey {
    color: grey;
}

.icons-yellow {
    color: rgb(230, 230, 0);

}

  .user {
      font-style: italic;
      color: orchid;
  }  

  .reviews {
      height: 300px;
      width: 100%;
      overflow: scroll;
  }

  .card-buttons {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
  }

  #flash-message {
      color: white;
      background-color: #0d6efd;
      height: 50px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
  }

  #contact-info {
      margin-top: 50px;
  }

  .name-star {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
  }

  #rate-button {
    font-size: 18px;
    display: inline;
    margin: 0 auto;
    margin-top: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;   
    width: 50%;
  }

  #accordion-body {
      padding: 1rem 0 0 0;
  }

  .story-heading {
      font-style: italic;
  }

  #accordion-button-text {
      font-size: 18px;
  }

  .rating_span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  #sort-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 30px;
    font-size: 18px;
  }

  #sort-btn {
      font-size: 18px;
  }

  #submit-btn {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin: 0 auto;
      font-size: 18px;
  }

  .mb-100 {
      margin-bottom: 100px;
  }

  #contact-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    font-size: 18px;
  }

  .register-heading {
      text-align: center;
      margin-bottom: 70px;
  }

.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.rating-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 5px;
}

#profile-heading {
    text-align: center;
    padding-top: 86px;
    padding-bottom: 20px;
}

.updel-btn {
    color: white;
    text-decoration: none;
    font-size: 1.25rem;
}

.update-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.marg-10 {
    margin: 10px;
}

.space-between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

#drop-menu {
    min-width: 6rem;
  }
  
  /*----------------------------------Media queries-------------------------------*/
@media only screen and (max-width:991px) {
    #section-center {
        display: flex;
        justify-content: center;
    }
}
 
@media only screen and (max-width:767px) {
    .rate-button {
        margin-top: 10px;
    }
    .movie {
        display: block;
    }
    .movie-content {
        margin: 10px
    }
    #post-block {
        display: block;
    }
    #update-block {
        display: block;
    }
    .show-container {
        margin-right: 0;
        margin-left: 0;
    }
    .cta-button {
        margin-top: 15vh;
    }
}

@media only screen and (max-width:503px) {
    #register-text {
        font-size: 1rem;
    }
    #login-text {
        font-size: 1rem;
    }
}

@media only screen and (max-width:438px) {
    #register-text {
        font-size: 0.8rem;
    }
    #login-text {
        font-size: 0.8rem;
    }
}

@media only screen and (max-width:400px) {
    .cta-button {
        margin-top: 40vh;
    }
    #register-text {
        font-size: 0.7rem;
    }
    #login-text {
        font-size: 0.7rem;
    }
}