{% extends "base.html" %}
{% block content %}
<div id="block_container">
  <div>
  <div class="card mb-3" style="max-width: 90%;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{ url_for('static', filename='img/sexcity.jpeg') }}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          <a href="{{ url_for('show') }}" class="btn btn-primary">Go to Show</a>
          <!-- <p class="card-text card-desc">Here you can put all the comments from the raters and haters...</p> -->
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3" style="max-width: 90%;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{ url_for('static', filename='img/Game-of-Thrones-Ending.jpeg') }}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          <a href="{{ url_for('show') }}" class="btn btn-primary">Go to Show</a>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3" style="max-width: 90%;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{ url_for('static', filename='img/dexter.jpeg') }}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          <a href="{{ url_for('show') }}" class="btn btn-primary">Go to Show</a>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-3" style="max-width: 90%;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{ url_for('static', filename='img/Bandof.jpeg') }}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          <a href="{{ url_for('show') }}" class="btn btn-primary">Go to Show</a>
        </div>
      </div>
    </div>
  </div>
</div>
  <div class="d-grid gap-2 col-3 mx-auto">
    <button class="btn btn-primary sort-btn" type="button">Filter <i class="fas fa-filter"></i></button>
    <button class="btn btn-primary sort-btn" type="button">Sort by Rank <i class="fas fa-medal"></i></button>
    <button class="btn btn-primary sort-btn" type="button">Sort by Rating <i class="far fa-star"></i></button>
    <button class="btn btn-primary sort-btn" type="button">Sort A-Z <i class="fas fa-arrows-alt-v"></i></button>
  </div>
</div>

  {% endblock %}