{% extends "base.html" %}
{% block content %}
<div id="contact-heading" class="col-lg-8 col-md-10 mx-auto">


  <section>
    <!-- flash messages -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="row flashes">
                    <h4 id="flash-message">{{ message }}</h4>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</section>


  <h1>All Shows</h1>
</div>
<div id="block-container">
  
  <!-- Show-cards -->
  {% for card in cards %}
  <div class="show_container">
    <figure class="movie">
      <!-- Card left side-img,data,details, modal -->
      <div class="movie__hero">
        <h1 class="heading__primary">{{card.title}}</h1>
        <div class="rating">
          <p class="movie__detail"><span class="icons icons-yellow"><i class="fas fa-star"></i><i
                class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                class="fas fa-star-half"></i>
            </span>4.5</p>
        </div>
        <img src="{{card.picture}}" alt="Picture for series" class="movie__img">
        <div class="movie-data">
          <p class="movie__detail"><i class="fas fa-film"></i>&nbsp;{{card.year}}</p>
          <div class="movie__tag movie__tag--1">{{card.genre}}</div>
        </div>
        <div class="movie__details">
          <p class="movie__detail"><span></span><i class="fas fa-globe"></i></span>&nbsp;{{card.country}}</p>
          <p class="movie__detail"><span><i class="fas fa-child"></i></span>&nbsp;{{card.parental_guidance}}</p>
          <p class="movie__detail"><span class="icons icons-grey"><i
                class="fas fa-hourglass-half"></i></span>&nbsp;{{card.seasons}} seasons</p>
        </div>
        <!-- Modal button -->
        <button class="btn btn-lg btn-primary" type="button" id="rate_button-{{card._id}}" data-bs-toggle="modal"
          data-bs-target="#exampleModal-{{card._id}}">
          Rate Show
        </button>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal-{{card._id}}" tabindex="-1" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">Rate This Show!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form role="form" method="POST" action="{{ url_for('ratings')}}">
                  <div class="rating_box">
                    <label for="" class="col-form-label">Your Rating:</label>
                    <div class="rate">
                      <input type="radio" id="star5-{{card._id}}" name="rating" value="5" />
                      <label for="star5-{{card._id}}" title="text">5 stars</label>
                      <input type="radio" id="star4-{{card._id}}" name="rating" value="4" />
                      <label for="star4-{{card._id}}" title="text">4 stars</label>
                      <input type="radio" id="star3-{{card._id}}" name="rating" value="3" />
                      <label for="star3-{{card._id}}" title="text">3 stars</label>
                      <input type="radio" id="star2-{{card._id}}" name="rating" value="2" />
                      <label for="star2-{{card._id}}" title="text">2 stars</label>
                      <input type="radio" id="star1-{{card._id}}" name="rating" value="1" />
                      <label for="star1-{{card._id}}" title="text">1 star</label>
                    </div>
                    <input type="hidden" id="show" name="show" value="{{ card.title }}">
                  </div>
                  <div class="mb-3">
                    <label for="message-text" class="col-form-label">Your Review:</label>
                    <textarea class="form-control" name="review" id="message-text"></textarea>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save Rating</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Card right side-writer,starring.story -->
      <div class="movie__content">
        <p><strong>Writer:</strong> {{ card.director }}</p>
        <p><strong>Starring:</strong> {{ card.starring }}</p>
        <h5 class="story_heading">Story:</h5>
        <p class="movie__description">{{ card.synopsis }}</p>
        <hr>
        <!-- Accordion -->
        <div class="card-buttons">
          <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" id="accordion-button-text-{{card._id}}"
                  data-bs-toggle="collapse" data-bs-target="#flush-collapseOne-{{card._id}}" aria-expanded="false"
                  aria-controls="flush-collapseOne">
                  Reviews
                </button>
              </h2>
              <div id="flush-collapseOne-{{card._id}}" class="accordion-collapse collapse"
                aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion_body">
                  <div class="reviews">
                    <h5>User Reviews</h5>
                    {% for review in reviews %}
                    {% if review.show | lower == card.title | lower %}
                    <div class="review">
                      <div class="name-star">
                        <p class="user">{{ review.created_by }}</p>&nbsp;
                        <p class="movie__detail"><span class="icons icons-yellow">
                          {% for n in range(review.rating | int) %}
                          <i class="fas fa-star"></i>
                          {% endfor %}
                      </div>
                      <p>{{ review.review }}</p>
                    </div>
                    {% endif %}
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Card far right-dark colored field -->
      <div class="movie__price">#1</div>
    </figure>
  </div>
  {% endfor %}
</div>
{% endblock %}