{% extends "base.html" %}

{% block content %}
<p>Sign in to see ratings of the best
    series streaming right now
    and give your vote on your 
    favourite show right now!
</p>

<hr>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{{ url_for('static', filename='img/got604.jpeg') }}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{{ url_for('static', filename='img/Game-of-Thrones-Ending.jpeg') }}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="{{ url_for('static', filename='img/got-1618347198.jpeg') }}" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>

{% endblock %}