{% extends "base.html" %}
{% block content %}
<div id="post-heading" class="col-lg-8 col-md-10 mx-auto">

  <section>
    <!-- flash messages -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="row flashes">
                    <h4 id="flash-message">{{ message }}</h4>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</section>

  <h1>Post New Show</h1>
</div>
<div id="shows-container">
  <form role="form" method="POST" action="{{ url_for('post_show')}}">
    <!-- column grid layout with dropdowns and text inputs -->
    <div class="row mb-4" id="post-block">

      <div class="col mb-4">
        <div class="form-outline">
          <label class="Visually-hidden" for="inlineFormSelectPref"></label>
          <select class="select form-control" name="genre">
            <option value="" disabled selected>Genre ▼</i></option>
            <option value="Action">Action</option>
            <option value="Adventure">Adventure</option>
            <option value="Comedy">Comedy</option>
            <option value="Drama">Drama</option>
            <option value="Documentary">Documentary</option>
            <option value="Fantasy">Fantasy</option>
            <option value="Horror">Horror</option>
            <option value="Mystery">Mystery</option>
            <option value="Romance">Romance</option>
            <option value="Romance">Sci-Fi</option>
            <option value="Thriller">Thriller</option>
            <option value="Western">Western</option>
          </select>
        </div>
      </div>
      <div class="col">
        <div class="form-outline">
          <label class="Visually-hidden" for="inlineFormSelectPref"></label>
          <select class="select form-control" name="parental_guidance">
            <option value="" disabled selected>Parental Guidance ▼</option>
            <option value="+7 years">+7 years</option>
            <option value="+11 years">+11 years</option>
            <option value="+13 years">+13 years</option>
            <option value="+15 years">+15 years</option>
            <option value="+16 years">+16 years</option>
            <option value="+17 years">+17 years</option>
            <option value="+18 years">+18 years</option>
          </select>
        </div>
      </div>
      <div class="col">
        <div class="form-outline">
          <label class="Visually-hidden" for="inlineFormSelectPref"></label>
          <select class="select form-control" name="country">
            <option value="" disabled selected>Country ▼</option>
            <option value="India">India</option>
            <option value="US">US</option>
            <option value="China">China</option>
            <option value="Japan">Japan</option>
            <option value="France">France</option>
            <option value="Spain">Spain</option>
            <option value="South Korea">South Korea</option>
            <option value="Italy">Italy</option>
            <option value="Germany">Germany</option>
            <option value="UK">UK</option>
            <option value="Russian Fed">Russian Fed</option>
            <option value="Argentina">Argentina</option>
            <option value="Indonesia">Indonesia</option>
            <option value="Brazil">Brazil</option>
            <option value="Philippines">Philippines</option>
            <option value="Mexico">Mexico</option>
            <option value="Turkey">Turkey</option>
            <option value="Hong Kong">Hong Kong</option>
            <option value="Netherlands">Netherlands</option>
            <option value="Austria">Austria</option>
            <option value="Sweden">Sweden</option>
            <option value="Poland">Poland</option>
            <option value="Taiwan">Taiwan</option>
            <option value="Malaysia">Malaysia</option>
            <option value="Finland">Finland</option>
            <option value="Czech Republ">Czech Republ</option>
            <option value="Australia">Australia</option>
            <option value="Belgium">Belgium</option>
            <option value="Denmark">Denmark</option>
          </select>
        </div>
      </div>
      <div class="col">
        <div class="form-outline">
          <label class="Visually-hidden" for="inlineFormSelectPref"></label>
          <select class="select form-control" name="year">
            <option value="" disabled selected>Year ▼</option>
            <option value="2000">2000</option>
            <option value="2001">2001</option>
            <option value="2002">2002</option>
            <option value="2003">2003</option>
            <option value="2004">2004</option>
            <option value="2005">2005</option>
            <option value="2006">2006</option>
            <option value="2007">2007</option>
            <option value="2008">2008</option>
            <option value="2009">2009</option>
            <option value="2010">2010</option>
            <option value="2011">2011</option>
            <option value="2012">2012</option>
            <option value="2013">2013</option>
            <option value="2014">2014</option>
            <option value="2015">2015</option>
            <option value="2016">2016</option>
            <option value="2017">2017</option>
            <option value="2018">2018</option>
            <option value="2019">2019</option>
            <option value="2020">2020</option>
            <option value="2021">2021</option>
            <option value="2022">2022</option>
          </select>
        </div>
      </div>
      <div class="col">
        <div class="form-outline">
          <label class="Visually-hidden" for="inlineFormSelectPref"></label>
          <select class="select form-control" name="seasons">
            <option value="" disabled selected>Seasons ▼</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
            <option value="16">>16</option>
          </select>
        </div>
      </div>

      <!-- Text input -->
      <div class="form-outline mb-4">
        <label class="form-label" for="form6Example3">Title of Show</label>
        <input type="text" name="title" id="form6Example3" class="form-control" required/>
      </div>

      <!-- Text input -->
      <div class="form-outline mb-4">
        <label class="form-label" for="form6Example4">Director</label>
        <input type="text" name="director" id="form6Example4" class="form-control" required/>
      </div>

      <!-- Text input -->
      <div class="form-outline mb-4">
        <label class="form-label" for="form6Example4">Starring</label>
        <input type="text" name="starring" id="form6Example4" class="form-control" required/>
      </div>

      <!-- Text input -->
      <div class="form-outline mb-4">
        <label class="form-label" for="form6Example4">Picture Link &nbsp;<sub>(Paste picture link here)</sub></label>
        <input type="text" name="picture" id="form6Example4" class="form-control" required/>
      </div>

      <!-- Message input -->
      <div class="form-outline mb-4">
        <label class="form-label" for="form6Example7">Synopsis:</label>
        <textarea class="form-control" name="synopsis" id="form6Example7" rows="4"></textarea>
      </div>

    </div>

      <!-- Submit button -->
      <button type="submit" id="submit-btn" class="btn btn-lg btn-primary mb-4">Post show</button>
  </form>
</div>

{% endblock %}