{% extends "base.html" %}
{% block content %}

<section>
    <!-- flash messages -->
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="row flashes">
                    <h4 id="flash-message">{{ message }}</h4>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</section>

<div id="profile-heading" class="col-lg-8 col-md-10 mx-auto">
    <h1>Your Profile</h1>
</div>
<div class="profile_container">
    <div class="profile_card">
        <div class="info"> <h3 class="text-primary">{{ username.username }}'s Profile</h3> <button class="btn btn-primary" id="savebutton">edit</button> </div>
        <div class="forms"> 
            <div class="inputs"> <span>Your Name</span> <input type="text" readonly value="{{ username.name }}"></div>
            
            <div class="inputs"> <span>Email</span> <input type="text" readonly value="{{ username.email }}"></div>
            <div class="inputs"> <span>User Name</span> <input type="text" readonly value="{{ username.username }}"></div>
            
        </div>
    </div>        
</div>
{% endblock %}