{% extends "base.html" %}
{% block content %}
<div class="profile_container">
    <div class="profile_card">
        <div class="info"> <h3 class="text-primary">{{ username.username }}'s Profile</h3> <button class="btn btn-primary" id="savebutton">edit</button> </div>
        <div class="forms">
            
            <div class="inputs"> <span>Your Name</span> <input type="text" readonly value="{{ username.name }}"></div>
            
            <div class="inputs"> <span>Email</span> <input type="text" readonly value="{{ username.email }}"></div>
            <div class="inputs"> <span>User Name</span> <input type="text" readonly value="{{ username.username }}"></div>
            <div class="inputs"> <span>Password</span> <input type="text" readonly value="{{ username.password }}"></div>
            
        </div>
    </div>        
</div>
{% endblock %}