{% extends "base.html" %}
{% block content %}

<div class="show_container">
<figure class="movie">
    <div class="movie__hero">
      <img src="{{ url_for('static', filename='img/Game-of-Thrones-Ending.jpeg') }}" alt="Game of Thrones" class="movie__img">
    </div>
    <div class="movie__content">
      <div class="movie__title">
        <h1 class="heading__primary">Game of Thrones<br><i class="fas fa-film"></i>&nbsp;2011</h1>
        <div class="movie__tag movie__tag--1">Adventure</div>
        <div class="movie__tag movie__tag--2">Action</div>
      </div>
      <p class="movie__detail"><span class="icons icons-yellow"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half"></i>
      </span>4.5</p>
      <p class="movie__description">
        In the mythical continent of Westeros, several powerful families fight for control of the Seven Kingdoms. As conflict erupts in the kingdoms of men, an ancient enemy rises once again to threaten them all. Meanwhile, the last heirs of a recently usurped dynasty plot to take back their homeland from across the Narrow Sea.
      </p>
      <p><strong>Writer:</strong> David Benioff</p>
      <p><strong>Starring:</strong> Emilia Clarke &nbsp;Peter Dinklage &nbsp;Kit Harington</p>
      <div class="movie__details">
        <p class="movie__detail"><span></span><i class="fas fa-globe"></i></span>&nbsp;USA</p>
        <p class="movie__detail"><span><i class="fas fa-child"></i></span>&nbsp;+13 years</p>
        <p class="movie__detail"><span class="icons icons-grey"><i class="fas fa-hourglass-half"></i></span>&nbsp;8 seasons</p>
      </div>
      <div class="reviews">
        <h4>User Reviews</h4>
        <p class="user">David</p>
          <p>I think this show was totally awesome. I gave it five stars and will watch it all over again soon. My best recommendations!</p>
      </div>
    </div>
    <div class="movie__price">#1</div>
  </figure>
</div>

{% endblock %}