    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                Reviews
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse"        aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <div class="reviews">
                        <h5>User Reviews</h5>
                        <div class="review">
                          <div class="name-star">
                            <p class="user">David</p>&nbsp;
                            <p class="movie-detail"><span class="icons icons-yellow"><i class="fas fa-star"></i><i
                                  class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                              </span>4</p>
                          </div>
                          <p>I think this show was totally awesome. I gave it five stars and will watch it all over again soon. My best recommendations!</p>
                        </div>
                        <div class="review">
                          <div class="name-star">
                            <p class="user">Loreen</p>&nbsp;
                            <p class="movie-detail"><span class="icons icons-yellow"><i class="fas fa-star"></i><i
                                  class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                              </span>4</p>
                          </div>
                          <p>A clearly overrated show. Too much blood and violence. I gave it three stars beacuse of the great actors. Ok to watch.</p>
                        </div>
                        <div class="review">
                          <div class="name-star">
                            <p class="user">Gabriel</p>&nbsp;
                            <p class="movie-detail"><span class="icons icons-yellow"><i class="fas fa-star"></i><i
                                  class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                              </span>4</p>
                          </div>
                          <p>I really like Spiderman, No Way Home. That was a great movie!</p>
                        </div>
                        <div class="review">
                          <div class="name-star">
                            <p class="user">Lukas</p>&nbsp;
                            <p class="movie-detail"><span class="icons icons-yellow"><i class="fas fa-star"></i><i
                                  class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                              </span>4</p>
                          </div>
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore consequuntur perspiciatis molestiae laboriosam inventore corrupti quas expedita labore, tempora amet animi aliquid consectetur quasi perferendis quia ipsa repellendus dicta nemo.</p>
                        </div>
                        <div class="review">
                          <div class="name-star">
                            <p class="user">Magnus</p>&nbsp;
                            <p class="movie-detail"><span class="icons icons-yellow"><i class="fas fa-star"></i><i
                                  class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                              </span>5</p>
                          </div>
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore consequuntur perspiciatis molestiae laboriosam inventore corrupti quas expedita labore, tempora amet animi aliquid consectetur quasi perferendis quia ipsa repellendus dicta nemo.</p>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>


    <section>
      <!-- flash messages -->
      {% with messages = get_flashed_messages() %}
          {% if messages %}
              {% for message in messages %}
                  <div class="row flashes">
                      <h4 id="flash-message">{{ message }}</h4>
                  </div>
              {% endfor %}
          {% endif %}
      {% endwith %}
  </section>
-->

------


{% for card in cards %}
<div id="contact-heading" class="col-lg-8 col-md-10 mx-auto">
  <h1>Shows posted by {{ card.posted_by }}</h1>
</div>
<div id="block_container">
  <!-- Show-cards -->
  <div class="show-container">
    <figure class="movie">
      <!-- Card left side-img,data,details, modal -->
      <div class="movie-hero">
        <h1 class="heading-primary">{{card.title}}</h1>
        <div class="rating">
          <p class="movie-detail"><span class="icons icons-yellow"><i class="fas fa-star"></i><i
                class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                class="fas fa-star-half"></i>
            </span>4.5</p>
        </div>
        <img src="{{card.picture}}" alt="Picture for series" class="movie-img">
        <div class="movie-data">
          <p class="movie-detail"><i class="fas fa-film"></i>&nbsp;{{card.year}}</p>
          <div class="movie--tag movie-tag-1">{{card.genre}}</div>
        </div>
        <div class="movie-details">
          <p class="movie-detail"><span></span><i class="fas fa-globe"></i></span>&nbsp;{{card.country}}</p>
          <p class="movie-detail"><span><i class="fas fa-child"></i></span>&nbsp;{{card.parental_guidance}}</p>
          <p class="movie-detail"><span class="icons icons-grey"><i
                class="fas fa-hourglass-half"></i></span>&nbsp;{{card.seasons}} seasons</p>
        </div>
      </div>
      <!-- Card right side-writer,starring.story -->
      <div class="movie-content">
        <p><strong>Writer:</strong> {{ card.director }}</p>
        <p><strong>Starring:</strong> {{ card.starring }}</p>
        <h5 class="story-heading">Story:</h5>
        <p class="movie-description">{{ card.synopsis }}</p>
        <hr>
        <!-- Accordion -->
        <div class="card-buttons">
          <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" id="accordion-button-text-{{card._id}}"
                  data-bs-toggle="collapse" data-bs-target="#flush-collapseOne-{{card._id}}" aria-expanded="false"
                  aria-controls="flush-collapseOne">
                  Reviews
                </button>
              </h2>
              <div id="flush-collapseOne-{{card._id}}" class="accordion-collapse collapse"
                aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                  <div class="reviews">
                    <h5>User Reviews</h5>
                    {% for review in reviews %}
                    {% if review.show | lower == card.title | lower %}
                    <div class="review">
                      <div class="name-star">
                        <p class="user">{{ review.created_by }}</p>&nbsp;
                        <p class="movie-detail"><span class="icons icons-yellow"><i class="fas fa-star"></i><i
                              class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                          </span>4</p>
                      </div>
                      <p>{{ review.review }}</p>
                    </div>
                    {% endif %}
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Card far right-dark colored field -->
      <div class="movie-price">#1</div>
    </figure>
  </div>
  {% endif %}
  {% endfor %}
</div>


-------
@app.route("/register", methods=["GET", "POST"])
def register():
    if request.method == "POST":
        existing_user = mongo.db.users.find_one(
            {"username": request.form.get("username").lower()})

        if existing_user:
            flash("Username already exists...")
            return redirect(url_for("register"))

        register = {
            "name": request.form.get("name").lower(),
            "email": request.form.get("email").lower(),
            "username": request.form.get("username").lower(),
            "password": generate_password_hash(request.form.get("password")),
        }
        mongo.db.users.insert_one(register)

        session["user"] =request.form.get("username").lower()
        flash("Registration Successful!")
        return redirect(url_for("profile", username=session["user"]))

    if 
    return render_template("register.html")

-------
    @app.route("/profile/<username>", methods=["GET", "POST"])
      def profile(username):
          username = mongo.db.users.find_one(
              {"username": session["user"]})
          poster = mongo.db.series.find_one({})
      
          if session["user"]:
              return render_template("profile.html", username=username, poster=poster)
      
          return redirect(url_for("login"))


          {% if username.username | lower == poster.posted_by | lower %}
      
-----

poster = mongo.db.series.find_one(
            {"posted_by": session["user"])

            -----
            @app.route("/cards")
def cards():
    cards = mongo.db.series.find({})
    return render_template("cards.html", cards=cards)

    -----
    

    <!-- {% if username | lower == poster.posted_by | lower %} -->

    cards.posted_by | lower == session["user"]| lower


    ____________

    @app.route(/update_show/<show_id>, methods=["GET", "POST"])
      def update_show(show_id):
          update = mongo.db.series.find_one({"_id": ObjectId(show_id)})
          cards = mongo.db.series.find({})
          return render_template("post_delete.html", cards=cards, update=update)



  ----------
  <!-- Search-field -->
  <div id="search" class="row">
    <div class="mx-auto">
      <div class="input-group">
        <input class="form-control border-end-0 border" type="search" placeholder="Search" id="example-search-input">
        <span class="input-group-append">
          <button class="btn btn-outline-secondary bg-white border-start-0 border ms-n5" type="button">
            <i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    </div>
  </div>
  <!-- Sort-buttons -->
  <div id="sort-buttons">
    <button id="sort-btn" class="btn btn-lg btn-primary" type="button">Filter <i class="fas fa-filter"></i></button>
    <button id="sort-btn" class="btn btn-lg btn-primary" type="button">Sort by Rank <i
        class="fas fa-medal"></i></button>
    <button id="sort-btn" class="btn btn-lg btn-primary" type="button">Sort by Rating <i
        class="far fa-star"></i></button>
    <button id="sort-btn" class="btn btn-lg btn-primary" type="button">Sort A-Z <i
        class="fas fa-arrows-alt-v"></i></button>
  </div>

  --------------

  @app.route("/update_show/<show_id>", methods=["GET", "POST"])
    def update_show(show_id):
        update = mongo.db.series.find_one({"_id": ObjectId(show_id)})
        cards = mongo.db.series.find({})
        return render_template("update_show.html", cards=cards, update=update)

        _____________

        mongo.db.events.update_one(
           {"_id": ObjectId(event_id)}, {"$set": submit})

           ----------------
           var savebutton = document.getElementById('savebutton');
var readonly = true;
var inputs = document.querySelectorAll('input[type="text"]');
savebutton.addEventListener('click',function(){

for (var i=0; i<inputs.length; i++) { inputs[i].toggleAttribute('readonly'); }; if (savebutton.innerHTML=="edit" ) { savebutton.innerHTML="save" ; } else { savebutton.innerHTML="edit" ; } });

-------------------
<button class="btn btn-primary" id="savebutton">edit</button>

-------------------

<!-- Modal -->
<div class="modal fade" id=""delete-modal-{{card._id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Warning</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Do you really want to delete Show, {{card.title}}?</p>
      </div>
      <div class="modal-footer">
        <a type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</a>
        <a href="{{ url_for('delete_show', show_id=card._id) }}" type="button" class="btn btn-primary">Delete Show</a>
      </div>
    </div>
  </div>
</div>


-------------------
#home-btn {
  text-align: right;
}

#menu-btn {
  text-align: right;
}

_____________________________
def mongo_connect(url):
try:
    conn = pymongo.MongoClient(url)
    print("Mongo is connected")
    return conn
except pymongo.errors.ConnectionFailure as e:
    print("Could not connect to MongoDB: %s") % e


argon2-cffi==21.1.0
astroid==2.7.3
attrs==21.2.0
autopep8==1.5.7
backcall==0.2.0
backports.entry-points-selectable==1.1.0
bandit==1.7.0
bleach==4.1.0
certifi==2021.5.30
cffi==1.14.6
charset-normalizer==2.0.4
colorama==0.4.4
cryptography==3.4.8
debugpy==1.4.3
decorator==5.1.0
defusedxml==0.7.1
distlib==0.3.2
docutils==0.17.1
entrypoints==0.3
filelock==3.0.12
flake8==3.9.2
flake8-django==1.1.2
flake8-flask==0.9.3
gitdb==4.0.7
GitPython==3.1.18
idna==3.2
importlib-metadata==4.8.1
ipykernel==6.4.1
ipython==7.27.0
ipython-genutils==0.2.0
isort==5.9.3
jedi==0.18.0
jeepney==0.7.1
Jinja2==3.0.1
jsonschema==3.2.0
jupyter-client==7.0.2
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
keyring==23.2.1
lazy-object-proxy==1.6.0
MarkupSafe==2.0.1
matplotlib-inline==0.1.3
mccabe==0.6.1
mistune==0.8.4
mypy==0.910
mypy-extensions==0.4.3
nbclient==0.5.4
nbconvert==6.1.0
nbformat==5.1.3
nest-asyncio==1.5.1
notebook==6.4.3
packaging==21.0
pandocfilters==1.4.3
parso==0.8.2
pbr==5.6.0
pep8==1.7.1
pexpect==4.8.0
pickleshare==0.7.5
pipenv==2021.5.29
pkginfo==1.7.1
platformdirs==2.3.0
prometheus-client==0.11.0
prompt-toolkit==3.0.20
ptyprocess==0.7.0
pycodestyle==2.7.0
pycparser==2.20
pydocstyle==6.1.1
pyflakes==2.3.1
Pygments==2.10.0
pylama==7.7.1
pylint==2.10.2
pyparsing==2.4.7
pyrsistent==0.18.0
python-dateutil==2.8.2
PyYAML==5.4.1
pyzmq==22.2.1
r2c-py-ast==0.1.0b1
readme-renderer==29.0
requests==2.26.0
requests-toolbelt==0.9.1
rfc3986==1.5.0
rope==0.19.0
SecretStorage==3.3.1
Send2Trash==1.8.0
six==1.16.0
smmap==4.0.0
snowballstemmer==2.1.0
stevedore==3.4.0
terminado==0.12.1
testpath==0.5.0
toml==0.10.2
tornado==6.1
tqdm==4.62.2
traitlets==5.1.0
twine==3.4.2
typing-extensions==3.10.0.2
urllib3==1.26.6
virtualenv==20.7.2
virtualenv-clone==0.5.7
wcwidth==0.2.5
webencodings==0.5.1
wrapt==1.12.1
zipp==3.5.0


def mongo_connect(url):
try:
    conn = pymongo.MongoClient(url)
    return conn
except pymongo.errors.ConnectionFailure as e:
    print("Could not connect to MongoDB: %s") % e


conn = mongo_connect(MONGO_URI)

coll = conn[DATABASE][COLLECTION]












