    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                Reviews
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse"        aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <div class="reviews">
                        <h5>User Reviews</h5>
                        <div class="review">
                          <div class="name-star">
                            <p class="user">David</p>&nbsp;
                            <p class="movie__detail"><span class="icons icons-yellow"><i class="fas fa-star"></i><i
                                  class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                              </span>4</p>
                          </div>
                          <p>I think this show was totally awesome. I gave it five stars and will watch it all over again soon. My best recommendations!</p>
                        </div>
                        <div class="review">
                          <div class="name-star">
                            <p class="user">Loreen</p>&nbsp;
                            <p class="movie__detail"><span class="icons icons-yellow"><i class="fas fa-star"></i><i
                                  class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                              </span>4</p>
                          </div>
                          <p>A clearly overrated show. Too much blood and violence. I gave it three stars beacuse of the great actors. Ok to watch.</p>
                        </div>
                        <div class="review">
                          <div class="name-star">
                            <p class="user">Gabriel</p>&nbsp;
                            <p class="movie__detail"><span class="icons icons-yellow"><i class="fas fa-star"></i><i
                                  class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                              </span>4</p>
                          </div>
                          <p>I really like Spiderman, No Way Home. That was a great movie!</p>
                        </div>
                        <div class="review">
                          <div class="name-star">
                            <p class="user">Lukas</p>&nbsp;
                            <p class="movie__detail"><span class="icons icons-yellow"><i class="fas fa-star"></i><i
                                  class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                              </span>4</p>
                          </div>
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore consequuntur perspiciatis molestiae laboriosam inventore corrupti quas expedita labore, tempora amet animi aliquid consectetur quasi perferendis quia ipsa repellendus dicta nemo.</p>
                        </div>
                        <div class="review">
                          <div class="name-star">
                            <p class="user">Magnus</p>&nbsp;
                            <p class="movie__detail"><span class="icons icons-yellow"><i class="fas fa-star"></i><i
                                  class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i>
                              </span>5</p>
                          </div>
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore consequuntur perspiciatis molestiae laboriosam inventore corrupti quas expedita labore, tempora amet animi aliquid consectetur quasi perferendis quia ipsa repellendus dicta nemo.</p>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>




    <section>
      <!-- flash messages -->
      {% with messages = get_flashed_messages() %}
          {% if messages %}
              {% for message in messages %}
                  <div class="row flashes">
                      <h4 id="flash-message">{{ message }}</h4>
                  </div>
              {% endfor %}
          {% endif %}
      {% endwith %}
  </section>
-->